<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this id just a game</h1>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur nulla harum quis tempore! Quis nobis, nihil minus porro sed ab sequi eos maxime voluptas harum recusandae error asperiores voluptatem nesciunt.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, ullam corrupti dolor sunt culpa deleniti explicabo adipisci exercitationem eaque ab at beatae iusto, distinctio reiciendis ipsa fugit quam voluptatum maiores?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate distinctio eius dicta rem magni optio aliquid unde, deleniti inventore minus! Quibusdam rerum dolor labore earum debitis temporibus illo deleniti? Voluptatibus!</p>
</body>
</html>